<bf-toolbar></bf-toolbar>
<md-input-container>
  <input mdInput placeholder="Enter name"
  [(ngModel)]="newusername">
</md-input-container>
<md-input-container>
  <input mdInput type="password" placeholder="Enter password"
         [(ngModel)]="newpassword">
</md-input-container>
<button (click)="CreateUser()">
  Add User
</button>
<button (click)="ClearUsers()">
  Clear
</button>
  <md-card *ngFor="let user of users">
    <h1 style="color: brown"><fa [name]="'user'"></fa>{{user.username}}</h1>
  </md-card>


